@model RaquelMenopausa.Cms.Models.Dto.UsuariaDto
@{
    string fileName = null;
    if (!string.IsNullOrEmpty(Model.PhotoUrl))
    {
        fileName = System.IO.Path.GetFileName(Model.PhotoUrl);
        if (fileName.Length > 20)
        {
            fileName = fileName.Substring(0, 17) + "...";
        }
    }
}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-6 {
        width: 50%;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .modal-header .close {
        margin-top: 24px;
    }

</style>

@using (Html.BeginForm("Edit", "Usuaria", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <input type="hidden" id="user_id" name="user_id" value="@Model.UserId" />
    <input type="hidden" id="hash" name="hash" value="@Model.Hash" />
    <input type="hidden" id="changedImage" name="changedImage" value="false" />

    <div class="container-form">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Nome">Nome do usuário</label>
                    <div class="input-wrapper">
                        <input type="text" id="Nome" name="Nome" class="search-input" placeholder="Digite o seu nome" value="@Model.Profile.Name" />
                        <img src="~/img/imgsite/pincel.png" alt="Ícone" class="input-icon" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Chamada">Como quer ser chamado</label>
                    <div class="input-wrapper">
                        <input type="text" id="Chamada" name="Chamada" class="search-input" placeholder="Digite como quer ser chamada" value="@Model.User" />
                        <img src="~/img/imgsite/pincel.png" alt="Ícone" class="input-icon" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Email">E-mail cadastrado</label>
                    <div class="input-wrapper">
                        <input type="email" id="Email" name="Email" class="search-input" placeholder="Digite o seu e-mail" value="@Model.Email" />
                        <img src="~/img/imgsite/pincel.png" alt="Ícone" class="input-icon" />
                    </div>

                    <div class="checkbox-wrapper mt-2">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="checkEmail" name="EmailVerified"
                                   @(Model.EmailVerified ? "checked" : "") />
                            <span class="checkmark"></span>
                            E-mail verificado
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Status">Status</label>

                    <div class="checkbox-inline-wrapper">
                        <label class="custom-checkbox-inline">
                            <input type="radio" id="ativo" name="status" value="Active"
                                   @(Model.Active ? "checked" : "") />
                            <span class="checkmark"></span>
                            Ativo
                        </label>

                        @* <label class="custom-checkbox-inline">
                        <input type="checkbox" id="banido" name="status" value="Banido">
                        <span class="checkmark"></span>
                        Banido
                    </label> *@

                        <label class="custom-checkbox-inline">
                            <input type="radio" id="deletado" name="status" value="Deleted"
                                   @(Model.Deleted ? "checked" : "") />
                            <span class="checkmark"></span>
                            Deletado
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Admin">Admin</label>

                    <div class="checkbox-inline-wrapper">
                        <label class="custom-checkbox-inline">
                            <input type="radio" id="sim" name="admin" value="true"
                                   @(Model.Admin ? "checked" : "") />
                            <span class="checkmark"></span>
                            Sim
                        </label>

                        <label class="custom-checkbox-inline">
                            <input type="radio" id="nao" name="admin" value="false"
                                   @(!Model.Admin ? "checked" : "") />
                            <span class="checkmark"></span>
                            Não
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <label class="label-title">Foto de Perfil</label>
                <div class="custom-file-upload">
                    <label for="arquivo" class="upload-label">
                        <img src="~/img/imgsite/mdi_attach-file.png" style="margin-top:4px" class="icon-nav" alt="Mais" />
                        <span class="text-bold">Adicionar imagem</span>
                    </label>
                    <span class="divider">|</span>
                    @if (string.IsNullOrEmpty(Model.PhotoUrl))
                    {
                        <span id="file-name-imagem" class="file-name">Nenhum arquivo adicionado</span>
                    }
                    else
                    {
                        <a id="file-name-imagem"
                           class="file-name"
                           href="@Model.PhotoUrl"
                           target="_blank"
                           style="color: #007bff; text-decoration: underline; cursor: pointer;">
                            @fileName
                        </a>
                    }
                    <input type="file" id="arquivo" name="arquivo" accept="image/*" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="line"></div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Nome">ID usuária</label>
                    <div class="input-wrapper">
                        <input type="text" id="IdUsuaria" name="IdUsuaria" class="search-input" readonly value="@Model.UserId" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Chamada">Código de recuperação de senha</label>
                    <div class="input-wrapper">
                        <input type="text" id="CodSenha" name="CodSenha" class="search-input" disabled value="@Model.Code" />
                        <img src="~/img/imgsite/solar_copy-linear.png" alt="Ícone" class="input-icon" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Nome">ID Social</label>
                    <div class="input-wrapper">
                        <input type="text" id="IdSocial" name="IdSocial" class="search-input" readonly
                               value="@(Model.AppleId ?? Model.GoogleId)" />
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Chamada">Código de verificação do e-mail</label>
                    <div class="input-wrapper">
                        <input type="text" id="CodEmail" name="CodEmail" class="search-input" readonly value="@Model.EmailVerificationCode" />
                        <img src="~/img/imgsite/solar_copy-linear.png" alt="Ícone" class="input-icon" />
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="form-group custom-input">
                    <label for="DataCreate">Data da criação</label>
                    <div class="input-wrapper">
                        <input type="date"
                               id="DataCreate"
                               name="DataCreate"
                               class="search-input"
                               readonly
                               value="@(Model.DateCreated.ToString("yyyy-MM-dd"))" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12" style="padding-left:25px; padding-right:25px;">
                <div class="form-group custom-input">
                    <label for="DataCreate">Data de exclusão</label>
                    <div class="input-wrapper">
                        <input type="date"
                               id="DateDelete"
                               name="DateDelete"
                               class="search-input"
                               readonly
                               value="@(Model.DateDeleted?.ToString("yyyy-MM-dd"))" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12" style="padding-left:10px; padding-right:25px;">
                <div class="form-group custom-input">
                    <label for="DataCreate">Versão dos Termos de Uso Aceito</label>
                    <div class="input-wrapper">
                        <input type="text" id="Termos" name="Termos" class="search-input" placeholder="Digite a versão dos termos" readonly value="@Model.TermOfUseVersion" />
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="buttons-container">
        <button type="button" class="btn-cancelar" onclick="window.location.href='@Url.Action("Index", "Usuaria")'">CANCELAR</button>
        <button type="submit" class="btn-save">SALVAR ALTERAÇÕES</button>
    </div>
}


