@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<RaquelMenopausa.Cms.Models.Dto.UsuariaDto>

@{
    ViewBag.Title = "Usuárias | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var search = Context.Request.Query["search"].ToString();
    var status = Context.Request.Query["status"].ToString();
    DateTime? initialDate = null;
    DateTime? finalDate = null;

    if (DateTime.TryParse(Context.Request.Query["initialDate"], out var iDate))
        initialDate = iDate;

    if (DateTime.TryParse(Context.Request.Query["finalDate"], out var fDate))
        finalDate = fDate;


    int startYear = 2020;
    int endYear = DateTime.Now.Year + 1;
    var periodo = Context.Request.Query["periodo"].ToString();

    var downloadUrl = Url.Action("DownloadCsv", "Usuaria", new { search, status, periodo });

}

<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <img src="~/img/imgsite/tabler_users_orange.png" style="width:28px !important; width: 30px !important;height: 28px;" class="icon-nav" />
                    <b>Gerenciador Usuárias</b>
                </h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center box-container">
                <a href="@downloadUrl" class="box-filter">
                    <img src="~/img/imgsite/download.png" class="icon-download" />
                </a>
                <div class="box-date">
                    <select name="periodo" id="periodo">
                        @for (int year = DateTime.Now.Year; year >= 2000; year--)
                        {
                            for (int month = 1; month <= 12; month++)
                            {
                                var startDate = new DateTime(year, month, 1);
                                var endDate = startDate.AddMonths(1).AddDays(-1);
                                var value = $"{startDate:yyyy-MM-dd}|{endDate:yyyy-MM-dd}";

                                <option value="@value">
                                    @($"{startDate:dd/MM/yyyy} - {endDate:dd/MM/yyyy}")
                                </option>
                            }
                        }
                    </select>
                </div>


            </div>
        </div>

        <h1 style="margin-top: 30px; margin-bottom: 10px;">
            Usuários
        </h1>
    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Total de Usuários</p>
                        <h2><b>@ViewBag.Indicators.UsersCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Usuários Ativos</p>
                        <h2><b>@ViewBag.Indicators.ActiveUsersCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Usuárias Suspensas</p>
                        <h2><b>@ViewBag.Indicators.SuspendedUsersCount</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-search">
        <div class="row">
            <div class="col-md-12">
                <div class="box-search">
                    <h1>Filtro e Pesquisa</h1>


                    <div class="filter-group">
                        <div class="col-md-8">
                            <div class="box-pesquisa">
                                <p><b>Pesquisar</b></p>
                                <input type="text" style="background:#FBFBFB" placeholder="pesquisar por nome ou e-mail" class="search-input" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="box-todo">
                                <p><b>Status</b></p>
                                <select name="status">
                                    <option value="Todos">Todos</option>
                                    <option value="ACTIVE">Ativos</option>
                                    <option value="SUSPENDED">Suspensos</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button type="button" style="margin-left:35px;" id="btnSearch" class="btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-number">
                    <h1>Lista de Usuárias</h1>
                    <div class="box-body">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table custom-table modulo-usuario-listar">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Data de Cadastro</th>
                                            <th>Status</th>
                                            <th>Observações</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Profile.Name</td>
                                                <td>@item.Email</td>
                                                <td>@item.DateCreated.ToShortDateString()</td>
                                                <td>
                                                    @if (item.Deleted == true)
                                                    {
                                                        <span>Suspenso</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Ativo</span>
                                                    }
                                                </td>
                                                <td>@item.Observations</td>
                                                <td class="acoes">
                                                    <a id="btnNovoUsuario" class="btn-icon">
                                                        <img src="~/img/imgsite/tabler_edit.png" class="icon-nav" alt="Editar" />
                                                    </a>


                                                    <div class="dropdown">
                                                        <button class="btn-icon dropdown-toggle" type="button" data-toggle="dropdown" data-boundary="viewport">
                                                            <img src="~/img/imgsite/ri_more-fill.png" class="icon-nav" alt="Mais" />
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a data-toggle="modal" data-target="#VerResposta_@item.UserId"><img src="~/img/imgsite/ic_outline-email.png" class="icon-nav" alt="Mais" /> Enviar E-mail</a></li>

                                                            <li><a href="#"><img src="~/img/imgsite/ic_baseline-refresh.png" class="icon-nav" alt="Mais" /> Resetar Senha</a></li>
                                                            <li><a href="#"><img src="~/img/imgsite/ic_baseline-chat-bubble-outline.png" class="icon-nav" alt="Mais" /> Adicionar Observação</a></li>
                                                            @if (item.Deleted == true)
                                                            {
                                                                <li><a href="@Href("~/usuaria/activate/" + item.UserId)"><img src="~/img/imgsite/group.png" class="hidden modulo-usuaria-ativar-conta icon-nav " alt="Ativar conta" /> Ativar Conta</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Href("~/usuaria/suspend/" + item.UserId)"><img src="~/img/imgsite/bx_user-x.png" class="icon-nav hidden modulo-usuaria-suspender-conta" alt="Suspender conta" /> Suspender Conta</a></li>
                                                            }
                                                        </ul>
                                                        <div class="modal fade" id="VerResposta_@item.UserId" tabindex="-1" role="dialog" aria-labelledby="VerResposta" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="modal-title" style="color:#000">Enviar E-mail</h2>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body">

                                                                            @using (Html.BeginForm("EnvioEmail", "Usuaria", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                                                                            {
                                                                            <input type="hidden" id="UserId" name="userId" value="@item.UserId" />
                                                                                <div class="row g-3">
                                                                                    <div class="col-md-8 col-xs-12">
                                                                                        <div class="form-group custom-input">
                                                                                            <label for="txtAssunto">Assunto</label>
                                                                                            <div class="input-wrapper">
                                                                                            <input type="text" id="txtAssunto" name="subject" class="search-input" placeholder="Digite o Assunto" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8 col-xs-12">
                                                                                        <div class="form-group custom-input">
                                                                                            <label for="txtTexto">Conteúdo</label>
                                                                                            <div class="input-wrapper textarea-wrapper">
                                                                                            <textarea id="txtTexto" name="content" class="search-input"
                                                                                              placeholder="insira o texto" style="height:300px"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                <div class="col-md-12 tex-center">
                                                                                    <button type="submit" class="btn-search" id="btnSalvar">
                                                                                        ENVIAR
                                                                                    </button>
                                                                                </div>
                                                                                </div>
                                                                                
                                                                            }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span>Nenhuma usuária cadastrada.</span>
                        }

                        @if (ViewBag.PageCount > 1)
                        {
                            <div class="col-md-12 text-center">
                                <div id="Paging">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "usuaria", new { page }))
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="usuarioModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 id="usuarioModalLabel"><b>Editar Usuário</b></h2>
            </div>

            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/js/trumbowyg/trumbowyg.min.css" asp-append-version="true" />
<script src="~/js/trumbowyg/trumbowyg.min.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        if ('@ViewData["Mensagem"]' == "true") {
            $.growl.notice({ title: "Sucesso!", message: "Alterações Salvas!" });
        }
        if ('@ViewData["Mensagem"]' == "false") {
            //alert(bool)
            $.growl.error({ title: "Erro!", message: "Algo deu errado!" });
        }
    });

        $('.dropdown').on('show.bs.dropdown', function () {
        var $dropdown = $(this);
        var $menu = $dropdown.find('.dropdown-menu');
        var $toggle = $dropdown.find('.dropdown-toggle');

        var windowHeight = $(window).height();
        var buttonOffset = $toggle.offset().top - $(window).scrollTop();
        var spaceBelow = windowHeight - (buttonOffset + $toggle.outerHeight());
        var menuHeight = $menu.outerHeight();

        if (spaceBelow < menuHeight) {
            $dropdown.addClass('dropup');
        } else {
            $dropdown.removeClass('dropup');
        }
    });

    $(document).ready(function () {

        $("#btnNovoUsuario").click(function () {
            $.get("/Usuario/Edit", function (data) {
                $("#modalBody").html(data);

                $("#usuarioModal").modal('show');
            });
        });

        $(document).on("submit", "#formCreateUsuario", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Usuario/Create",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert(response.message);

                        $("#usuarioModal").modal('hide');
                    } else {
                        $("#modalBody").html(response);
                    }
                }
            });
        });
    });

            document.getElementById("btnSearch").addEventListener("click", function () {
        const search = document.querySelector(".search-input").value;
        const status = document.querySelector("select[name='status']").value;
        const periodoValue = document.querySelector("select[name='periodo']").value;

        const params = new URLSearchParams();

        if (search) params.append("search", search);
        if (status) params.append("status", status);
        if (periodoValue) params.append("periodo", periodoValue);

        // Atualiza o link de download também
        const downloadLink = document.querySelector(".box-filter a");
        if (downloadLink) {
            downloadLink.href = `/Usuaria/DownloadCsv?${params.toString()}`;
        }

        // Redireciona a página
        window.location.href = `/Usuaria/Index?${params.toString()}`;
    });

    $(document).ready(function () {
        $('#txtTexto').trumbowyg({
            lang: 'pt_br',
            btns: [
                ['viewHTML'],
                ['undo', 'redo'],
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ],
            autogrow: true
        });
    });

            $('#btnSalvar').on('click', function(e) {
        let conteudo = $('#txtTexto').trumbowyg('html');
        $('#txtTexto').val(conteudo);

        if (!conteudo || conteudo.trim() === '') {
            alert('O campo conteúdo é obrigatório!');
            e.preventDefault(); // impede o submit
            return false;
        }
    });


</script>


