@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<RaquelMenopausa.Cms.Models.Dto.UsuariaDto>

@{
    ViewBag.Title = "Usuárias | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var search = Context.Request.Query["search"].ToString();
    var status = Context.Request.Query["status"].ToString();
    DateTime? initialDate = null;
    DateTime? finalDate = null;

    if (DateTime.TryParse(Context.Request.Query["initialDate"], out var iDate))
        initialDate = iDate;

    if (DateTime.TryParse(Context.Request.Query["finalDate"], out var fDate))
        finalDate = fDate;


    int startYear = 2020;
    int endYear = DateTime.Now.Year + 1;
    var periodo = Context.Request.Query["periodo"].ToString();

    var downloadUrl = Url.Action("DownloadCsv", "Usuaria", new { search, status, periodo });

}

<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <img src="~/img/imgsite/tabler_users_orange.png" style="width:28px !important; width: 30px !important;height: 28px;" class="icon-nav" />
                    <b>Gerenciador Usuárias</b>
                </h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center box-container">
                <a href="@downloadUrl" class="box-filter">
                    <img src="~/img/imgsite/download.png" class="icon-download" />
                </a>
                <div class="box-date">
                    <input type="text" id="periodo" name="periodo" class="picker-clean" placeholder="Selecione o período" />
                    <input type="hidden" id="initialDate" name="initialDate" />
                    <input type="hidden" id="finalDate" name="finalDate" />
                </div>
            </div>
        </div>

        <h1 style="margin-top: 30px; margin-bottom: 10px;">
            Usuárias
        </h1>
    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Total de Usuárias</p>
                        <h2><b>@ViewBag.Indicators.UsersCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Usuárias Ativas</p>
                        <h2><b>@ViewBag.Indicators.ActiveUsersCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Usuárias Suspensas</p>
                        <h2><b>@ViewBag.Indicators.SuspendedUsersCount</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-search">
        <div class="row">
            <div class="col-md-12">
                <div class="box-search">
                    <h1>Filtro e Pesquisa</h1>


                    <div class="filter-group">
                        <div class="col-md-8">
                            <div class="box-pesquisa">
                                <p><b>Pesquisar</b></p>
                                <input type="text" name="search" style="background:#FBFBFB" placeholder="pesquisar por nome ou e-mail" class="search-input" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="box-todo">
                                <p><b>Status</b></p>
                                <select name="status">
                                    <option value="ACTIVE">Ativos</option>
                                    <option value="SUSPENDED">Suspensos</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button type="button" style="margin-left:35px;" id="btnSearch" class="btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-number">
                    <h1>Lista de Usuárias</h1>
                    <div class="box-body">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table custom-table modulo-usuario-listar">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Data de Cadastro</th>
                                            <th>Status</th>
                                            <th>Observações</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.User</td>
                                                <td>@item.Email</td>
                                                <td>@item.DateCreated.ToShortDateString()</td>
                                                <td>
                                                    @if (item.Deleted == true)
                                                    {
                                                        <span>Suspenso</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Ativo</span>
                                                    }
                                                </td>
                                                <td>@item.Observations</td>
                                                <td class="acoes">
                                                    <a class="btnEditUsuaria" href="@Href("~/usuaria/edit/" + item.UserId)">
                                                        <img src="~/img/imgsite/tabler_edit.png" class="icon-nav" alt="Editar" />
                                                    </a>
                                                    <div class="dropdown">
                                                        <button class="btn-icon dropdown-toggle" type="button" data-toggle="dropdown" data-boundary="viewport">
                                                            <img src="~/img/imgsite/ri_more-fill.png" class="icon-nav" alt="Mais" />
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a data-toggle="modal" data-target="#VerResposta_@item.UserId"><img src="~/img/imgsite/ic_outline-email.png" class="icon-nav" alt="Enviar E-mail" /> Enviar E-mail</a></li>
                                                            <li><a data-toggle="modal" data-target="#ResetSenha_@item.UserId"><img src="~/img/imgsite/ic_baseline-refresh.png" class="icon-nav" alt="Resetar Senha" /> Resetar Senha</a></li>
                                                            <li><a data-toggle="modal" data-target="#Observation_@item.UserId"><img src="~/img/imgsite/ic_baseline-chat-bubble-outline.png" class="icon-nav" alt="Mais" /> Adicionar Observação</a></li>
                                                            @if (item.Deleted == true)
                                                            {
                                                                <li><a href="@Href("~/usuaria/activate/" + item.UserId)"><img src="~/img/imgsite/group.png" class="hidden modulo-usuaria-ativar-conta icon-nav " alt="Ativar conta" /> Ativar Conta</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Href("~/usuaria/suspend/" + item.UserId)"><img src="~/img/imgsite/bx_user-x.png" class="icon-nav hidden modulo-usuaria-suspender-conta" alt="Suspender conta" /> Suspender Conta</a></li>
                                                            }
                                                        </ul>
                                                        <div class="modal fade" id="VerResposta_@item.UserId" tabindex="-1" role="dialog" aria-labelledby="VerResposta" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="modal-title text-dark text-center">Enviar E-mail</h2>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body px-4 py-3" style="padding:45px">
                                                                        @using (Html.BeginForm("EnvioEmail", "Usuaria", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            <input type="hidden" id="UserId" name="userId" value="@item.UserId" />

                                                                            <div class="form-group mb-3">
                                                                                <label for="txtAssunto" class="fw-bold">Assunto</label>
                                                                                <input type="text" id="txtAssunto" name="subject"
                                                                                       class="search-input" placeholder="Digite o assunto" />
                                                                            </div>

                                                                            <div class="form-group mb-4">
                                                                                <label for="txtTexto" class="fw-bold">Conteúdo</label>
                                                                                <textarea id="txtTexto" name="content"
                                                                              class="search-input" placeholder="Digite o conteúdo"
                                                                              style="height: 250px;"></textarea>
                                                                            </div>

                                                                            <div class="text-center">
                                                                                <button type="submit" class="btn-enviar px-4" id="btnSalvar">
                                                                                    ENVIAR
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal fade" id="ResetSenha_@item.UserId" tabindex="-1" role="dialog" aria-labelledby="ResetSenha" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="modal-title text-dark text-center">Resetar Senha</h2>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body px-4 py-3" style="padding:45px">
                                                                        @using (Html.BeginForm("ResetSenha", "Usuaria", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            <input type="hidden" id="UserId" name="userId" value="@item.UserId" />

                                                                            <div class="form-group camp-password" style="margin-left:180px; margin-right:180px">
                                                                                <label for="txtnewPassword" class="fw-bold">Nova senha</label>
                                                                                <input type="password" id="txtnewPassword" name="newPassword" maxlength="25" minlength="5"
                                                                                       class="search-input" placeholder="Digite a nova senha" />
                                                                            </div>

                                                                            <div class="text-center">
                                                                                <button type="submit" class="btn-enviar px-4" id="btnSalvar">
                                                                                    ENVIAR
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal fade" id="Observation_@item.UserId" tabindex="-1" role="dialog" aria-labelledby="Observation" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="modal-title text-dark text-center">Adicionar Observação</h2>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body px-4 py-3" style="padding:45px">
                                                                        @using (Html.BeginForm("AddObservation", "Usuaria", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            <input type="hidden" id="UserId" name="userId" value="@item.UserId" />

                                                                            <div class="form-group mb-4">
                                                                                <label for="observations" class="fw-bold">Observação</label>
                                                                                <textarea id="observations" name="observations"
                                                                              class="search-input" placeholder="Digite as observações"
                                                                              style="height: 250px;"></textarea>
                                                                            </div>

                                                                            <div class="text-center">
                                                                                <button type="submit" class="btn-enviar px-4" id="btnSalvar">
                                                                                    Salvar
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span>Nenhuma usuária cadastrada.</span>
                        }

                        @if (ViewBag.PageCount > 1)
                        {
                            <div class="col-md-12 text-center">
                                <div id="Paging">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Usuaria", new {
                                    page,
                                                                search = ViewBag.Search,
                                                                status = ViewBag.Status,
                                                                initialDate = ViewBag.InitialDate,
                                                                finalDate = ViewBag.FinalDate
                                                                }))
                            </div>

                        </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="usuariaEditModal" tabindex="-1" role="dialog" aria-labelledby="usuariaModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">

                <h2 id="usuariaModalLabel"><b>Editar Usuária</b></h2>
            </div>

            <div class="modal-body" id="modalBodyEdit">
            </div>
        </div>
    </div>
</div>

<div id="filtros"
     data-search="@ViewBag.Search"
     data-status="@ViewBag.Status"
     data-initial="@ViewBag.InitialDate"
     data-final="@ViewBag.FinalDate">
</div>



<script>
    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
        var sucesso = '@TempData["SUCESSO"]';
        var erro = '@TempData["ERRO"]';

        if (sucesso) {
            $.growl.notice({ title: "Sucesso!", message: sucesso });
        }

        if (erro) {
            $.growl.error({ title: "Erro!", message: erro });
        }

        $(document).on("click", ".btnEditUsuaria", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var id = href.split("/").pop();
            console.log("Edit clicked, ID:", id);

            $.get(href, function (data) {
                $("#modalBodyEdit").html(data);
                $("#usuariaEditModal").modal('show');
            });
         });


    });

        $('.dropdown').on('show.bs.dropdown', function () {
        var $dropdown = $(this);
        var $menu = $dropdown.find('.dropdown-menu');
        var $toggle = $dropdown.find('.dropdown-toggle');

        var windowHeight = $(window).height();
        var buttonOffset = $toggle.offset().top - $(window).scrollTop();
        var spaceBelow = windowHeight - (buttonOffset + $toggle.outerHeight());
        var menuHeight = $menu.outerHeight();

        if (spaceBelow < menuHeight) {
            $dropdown.addClass('dropup');
        } else {
            $dropdown.removeClass('dropup');
        }
    });

            document.getElementById("btnSearch").addEventListener("click", function () {
        const search = document.querySelector(".search-input").value;
        const status = document.querySelector("select[name='status']").value;

        const initialDate = document.getElementById("initialDate").value;
        const finalDate = document.getElementById("finalDate").value;

        const params = new URLSearchParams();

        if (search) params.append("search", search);
        if (status) params.append("status", status);

        // Só envia datas se o usuário realmente escolheu no picker
        if (initialDate && finalDate) {
            params.append("initialDate", initialDate);
            params.append("finalDate", finalDate);
        }

        // Atualiza link de download (se existir)
        const downloadLink = document.querySelector(".box-filter a");
        if (downloadLink) {
            downloadLink.href = `/Usuaria/DownloadCsv?${params.toString()}`;
        }

        // Redireciona para a pesquisa
        window.location.href = `/Usuaria/Index?${params.toString()}`;
    });


        $(function () {
        $('#periodo').daterangepicker({
            autoUpdateInput: true,
            locale: {
                format: 'DD/MM/YYYY',
                separator: ' - ',
                applyLabel: "Aplicar",
                cancelLabel: "Cancelar",
                daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
            },
            ranges: {
                'Hoje': [moment(), moment()],
                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
                'Últimos 28 dias': [moment().subtract(27, 'days'), moment()],
                'Este mês': [moment().startOf('month'), moment().endOf('month')],
                'Mês passado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });

        $('#periodo').on('apply.daterangepicker', function(ev, picker) {
            $('#initialDate').val(picker.startDate.format('YYYY-MM-DD'));
            $('#finalDate').val(picker.endDate.format('YYYY-MM-DD'));
        });
    });


</script>