@model RaquelMenopausa.Cms.Models.Dto.ConteudoDto
@{
    string fileName = null;
    if (!string.IsNullOrEmpty(Model.UrlImage))
    {
        fileName = System.IO.Path.GetFileName(Model.UrlImage);
        if (fileName.Length > 20)
        {
            fileName = fileName.Substring(0, 17) + "...";
        }
    }
}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-6 {
        width: 50%;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
        box-sizing: border-box;
    }

    @@media (max-width: 768px) {
        .col-md-6, .col-md-4, .col-md-12 {
            width: 100% !important;
            float: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .input-wrapper img.input-icon {
            right: 10px;
        }
    }

</style>

@using (Html.BeginForm("Edit", "Conteudo", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <input type="hidden" id="article_id" name="article_id" value="@Model.ArticleId" />
    <input type="hidden" id="hash" name="hash" value="@Model.Hash" />

    <input type="hidden" id="changedImage" name="changedImage" value="false" />
    <input type="hidden" id="changedAudioVideo" name="changedAudioVideo" value="false" />

    <div class="container-form">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Subject">Assunto</label>
                <div class="input-wrapper">
                    <input type="text" id="Subject" name="Subject" class="search-input"
                           placeholder="insira o assunto do conteúdo"
                           value="@Model.Subject" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Imagem de capa</label>
            <div class="custom-file-upload">
                <label for="arquivoImagem" class="upload-label">
                    <img src="~/img/imgsite/mdi_attach-file.png" style="margin-top:4px; height: 20px;" class="icon-nav" alt="Mais" />
                    <span class="text-bold">Adicionar imagem</span>
                </label>
                <span class="divider">|</span>

                @if (string.IsNullOrEmpty(Model.UrlImage))
                {
                    <span id="file-name-imagem" class="file-name">Nenhum arquivo adicionado</span>
                }
                else
                {
                    <a id="file-name-imagem"
                       class="file-name"
                       href="@Model.UrlImage"
                       target="_blank"
                       style="color: #007bff; text-decoration: underline; cursor: pointer;">
                        @fileName
                    </a>
                }

                <input type="file" id="arquivoImagem" name="arquivoImagem" accept="image/*" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Title">Título</label>
                <div class="input-wrapper">
                    <input type="text" id="Titulo" name="Titulo" class="search-input"
                           placeholder="insira o título do conteúdo"
                           value="@Model.Title" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Áudio ou Vídeo</label>
            <div class="custom-file-upload" style="padding: 6px 12px;">
                <label for="arquivoMidia" class="upload-label">
                    <span class="text-bold">Adicionar arquivo</span>
                </label>
                <span class="divider">|</span>
                <span id="file-name-midia" class="file-name">
                    @(string.IsNullOrEmpty(Model.UrlAudio) && string.IsNullOrEmpty(Model.UrlVideo)
                                        ? "Nenhum arquivo adicionado"
                                        : "Arquivo já carregado")
                </span>
                <input type="file" id="arquivoMidia" name="arquivoMidia" accept="audio/*,video/*" />
            </div>

            @if (!string.IsNullOrEmpty(Model.UrlAudio))
            {
                <div class="preview mt-2">
                    <audio controls style="width: 100%; margin-top: 10px;">
                        <source src="@Model.UrlAudio" type="audio/mpeg" />
                        Seu navegador não suporta o player de áudio.
                    </audio>
                </div>
            }
            else if (!string.IsNullOrEmpty(Model.UrlVideo))
            {
                <div class="preview mt-2">
                    <video controls style="width: 100%; max-height: 300px; border-radius: 8px; margin-top: 10px;">
                        <source src="@Model.UrlVideo" type="video/mp4" />
                        Seu navegador não suporta o player de vídeo.
                    </video>
                </div>
            }
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Introducao">Introdução</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Introducao" name="Introducao" class="search-input textarea-introducao"
                              placeholder="insira a introdução do conteúdo"
                              maxlength="400">@Model.Intro</textarea>
                    <span id="charCount" class="char-counter">0/400</span>
                </div>
            </div>
        </div>

        @* <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Intro">Introdução</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Intro" name="Intro" class="search-input textarea-introducao"
                              placeholder="insira a introdução do conteúdo"
                              maxlength="400">@Model.Intro</textarea>
                    <span id="charCount" class="char-counter">@($"{Model.Intro?.Length ?? 0}/400")</span>
                </div>
            </div>
        </div> *@

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label class="label-title">Cor do conteúdo</label>
                    <div class="color-options">
                        @foreach (var cor in new[] { "#974808", "#BD5A0A", "#D18C54", "#293D35", "#3B574B", "#A6AE97", "#4E4265", "#6F5E90", "#9A8EB1", "#FFFFFF" })
                        {
                            var estilo = cor == "#FFFFFF" ? "border: 2px solid #606060;" : "";
                            <label class="color-option" style="background-color:@cor; @estilo">
                                <input type="checkbox"
                                       name="Cor"
                                       value="@cor"
                                       @(("#" + Model.Color).Equals(cor, StringComparison.OrdinalIgnoreCase) ? "checked" : "") />

                                <span class="inner-box @(cor == "#FFFFFF" ? "border-dark" : "")"></span>
                            </label>
                        }
                    </div>
                </div>
            </div>




        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Text">Texto Principal</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Text" name="Text" class="search-input textarea-introducao"
                              placeholder="insira o texto do conteúdo" style="height:300px">@Model.Text</textarea>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label class="label-title">Tags</label>

                <div class="tag-section">
                    <p class="tag-title">Categorias</p>
                    <div class="tag-options">
                        @foreach (var cat in ViewBag.Tags.ArticleCategories)
                        {
                            <label class="tag-pill">
                                <input type="checkbox" name="Categorias" value="@cat.Value" @(cat.Selected ? "checked" : "")>
                                @cat.Label
                            </label>
                        }
                    </div>
                </div>

                <div class="tag-section">
                    <p class="tag-title">Sintomas</p>
                    <div class="symptom-options">
                        @foreach (var cat in ViewBag.Tags.SymptomCategories)
                        {
                            <label class="symptom-item">
                                <input type="checkbox" name="Sintomas" value="@cat.Value" @(cat.Selected ? "checked" : "")>
                                @cat.Label
                            </label>
                        }
                    </div>

                    <p class="tag-title">Soluções</p>
                    <div class="symptom-options">
                        @foreach (var cat in ViewBag.Tags.Solutions)
                        {
                            <label class="soluction-item">
                                <input type="checkbox" name="Solucoes" value="@cat.Value" @(cat.Selected ? "checked" : "")>
                                @cat.Label
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Title">Link de compartilhamento</label>
                <div class="input-wrapper">
                    <input type="text" id="Title" name="Title" class="search-input"
                           value="@Model.ShareLink" />
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="buttons-container">
        <button type="button" class="btn-cancelar" data-dismiss="modal">CANCELAR</button>
        <button type="submit" name="acao" value="rascunho" class="btn-rascunho">
            SALVAR COMO RASCUNHO
        </button>
        <button type="submit" name="acao" value="publicar" class="btn-save">
            CRIAR PUBLICAÇÃO
        </button>
    </div>
}



<script>
    const textarea = document.getElementById('Introducao');
    const charCount = document.getElementById('charCount');

    textarea.addEventListener('input', function () {
        charCount.textContent = `${this.value.length}/400`;
    });

        document.getElementById("arquivoImagem").addEventListener("change", function () {
        document.getElementById("changedImage").value = "true";
    });

    document.getElementById("arquivoMidia").addEventListener("change", function () {
        document.getElementById("changedAudioVideo").value = "true";
    });

    document.getElementById("arquivoImagem").addEventListener("change", function () {
        const fileNameSpan = document.getElementById("file-name-imagem");
        const file = this.files[0];

        if (file) {
            let name = file.name;
            if (name.length > 20) {
                name = name.substring(0, 17) + "...";
            }
            fileNameSpan.textContent = name;
            fileNameSpan.removeAttribute("href");
            fileNameSpan.style.color = "#333";
            fileNameSpan.style.textDecoration = "none";
        } else {
            fileNameSpan.textContent = "Nenhum arquivo adicionado";
        }
    });

    document.getElementById("arquivoMidia").addEventListener("change", function () {
        const fileNameSpan = document.getElementById("file-name-midia");
        const file = this.files[0];

        if (file) {
            let name = file.name;
            if (name.length > 20) {
                name = name.substring(0, 17) + "...";
            }
            fileNameSpan.textContent = name;
            fileNameSpan.removeAttribute("href");
            fileNameSpan.style.color = "#333";
            fileNameSpan.style.textDecoration = "none";
        } else {
            fileNameSpan.textContent = "Nenhum arquivo adicionado";
        }
    });
</script>



