@model RaquelMenopausa.Cms.Models.Dto.ConteudoDto

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-6 {
        width: 50%;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
</style>

<form id="formEditConteudo">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Assunto">Assunto</label>
                <div class="input-wrapper">
                    <input type="text" id="Assunto" name="Assunto" class="search-input" placeholder="insira o assunto do conteúdo" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Imagem de capa</label>
            <div class="custom-file-upload">
                <label for="arquivoImagem" class="upload-label">
                    <img src="~/img/imgsite/mdi_attach-file.png" style="margin-top:4px; height: 20px;" class="icon-nav" alt="Mais" />
                    <span class="text-bold">Adicionar imagem</span>
                </label>
                <span class="divider">|</span>
                <span id="file-name-imagem" class="file-name">Nenhum arquivo adicionado</span>
                <input type="file" id="arquivoImagem" name="arquivoImagem" accept="image/*" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Titulo">Título</label>
                <div class="input-wrapper">
                    <input type="text" id="Titulo" name="Titulo" class="search-input" placeholder="insira o título do conteúdo" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Áudio ou Vídeo</label>
            <div class="custom-file-upload" style="padding: 6px 12px;">
                <label for="arquivoMidia" class="upload-label">
                    <span class="text-bold">Adicionar arquivo</span>
                </label>
                <span class="divider">|</span>
                <span id="file-name-midia" class="file-name">Nenhum arquivo adicionado</span>
                <input type="file" id="arquivoMidia" name="arquivoMidia" accept="audio/*,video/*" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Introducao">Introdução</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Introducao" name="Introducao" class="search-input textarea-introducao"
                              placeholder="insira a introdução do conteúdo"
                              maxlength="400"></textarea>
                    <span id="charCount" class="char-counter">0/400</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label class="label-title">Cor do conteúdo</label>
                <div class="color-options">
                    <label class="color-option" style="background-color: #8B3E08;">
                        <input type="checkbox" name="CorConteudo" value="#8B3E08">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #D96B05;">
                        <input type="checkbox" name="CorConteudo" value="#D96B05">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #E2A168;">
                        <input type="checkbox" name="CorConteudo" value="#E2A168">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #1E2923;">
                        <input type="checkbox" name="CorConteudo" value="#1E2923">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #3C5245;">
                        <input type="checkbox" name="CorConteudo" value="#3C5245">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #AAB098;">
                        <input type="checkbox" name="CorConteudo" value="#AAB098">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #4E3B63;">
                        <input type="checkbox" name="CorConteudo" value="#4E3B63">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #7A6196;">
                        <input type="checkbox" name="CorConteudo" value="#7A6196">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #B6A4C9;">
                        <input type="checkbox" name="CorConteudo" value="#B6A4C9">
                        <span class="inner-box"></span>
                    </label>
                    <label class="color-option" style="background-color: #FFFFFF; border: 2px solid #ccc;">
                        <input type="checkbox" name="CorConteudo" value="#FFFFFF" style="border: 2px solid #606060">
                        <span class="inner-box dark"></span>
                    </label>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Texto">Texto Principal</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Texto" name="Texto" class="search-input textarea-introducao"
                              placeholder="insira o texto do conteúdo" style="height:300px"></textarea>
                </div>
            </div>
        </div>

        @* <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label class="label-title">Tags</label>

                <div class="tag-section">
                    <p class="tag-title">Categorias</p>
                    <div class="tag-options">
                        @foreach (var category in Model.ArticleCategories)
                        {
                            <label class="tag-pill">
                                <input type="checkbox" name="Categorias" value="@category.Label"> @category.Label
                            </label>
                        }
                    </div>
                </div>

                <div class="tag-section">
                    <p class="tag-title">Sintomas</p>
                    <div class="symptom-options">
                        @foreach (var symptom in Model.SymptomCategories)
                        {
                            <label class="symptom-item">
                                <input type="checkbox" name="Sintomas" value="@symptom.Label"> @symptom.Label
                            </label>
                        }
                    </div>

                    <p class="tag-title">Soluções</p>
                    <div class="symptom-options">
                        @foreach (var solution in Model.Solutions)
                        {
                            <label class="soluction-item">
                                <input type="checkbox" name="Solucoes" value="@solution.Label"> @solution.Label
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div> *@
    </div>

    <div class="buttons-container">
        <button type="button" class="btn-cancelar">CANCELAR</button>
        <button type="submit" class="btn-rascunho">SALVAR COMO RASCUNHO</button>
        <button type="submit" class="btn-save">CRIAR PUBLICAÇÃO</button>
    </div>
</form>


<form id="formEditConteudo">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Subject">Assunto</label>
                <div class="input-wrapper">
                    <input type="text" id="Subject" name="Subject" class="search-input"
                           placeholder="insira o assunto do conteúdo"
                           value="@Model.Subject" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Imagem de capa</label>
            <div class="custom-file-upload">
                <label for="arquivoImagem" class="upload-label">
                    <img src="~/img/imgsite/mdi_attach-file.png" style="margin-top:4px; height: 20px;" class="icon-nav" alt="Mais" />
                    <span class="text-bold">Adicionar imagem</span>
                </label>
                <span class="divider">|</span>
                <span id="file-name-imagem" class="file-name">
                    @(string.IsNullOrEmpty(Model.UrlImage) ? "Nenhum arquivo adicionado" : "Imagem já carregada")
                </span>
                <input type="file" id="arquivoImagem" name="arquivoImagem" accept="image/*" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Title">Título</label>
                <div class="input-wrapper">
                    <input type="text" id="Title" name="Title" class="search-input"
                           placeholder="insira o título do conteúdo"
                           value="@Model.Title" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="label-title">Áudio ou Vídeo</label>
            <div class="custom-file-upload" style="padding: 6px 12px;">
                <label for="arquivoMidia" class="upload-label">
                    <span class="text-bold">Adicionar arquivo</span>
                </label>
                <span class="divider">|</span>
                <span id="file-name-midia" class="file-name">
                    @(string.IsNullOrEmpty(Model.UrlAudio) && string.IsNullOrEmpty(Model.UrlVideo)
                        ? "Nenhum arquivo adicionado"
                        : "Arquivo já carregado")
                </span>
                <input type="file" id="arquivoMidia" name="arquivoMidia" accept="audio/*,video/*" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Intro">Introdução</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Intro" name="Intro" class="search-input textarea-introducao"
                              placeholder="insira a introdução do conteúdo"
                              maxlength="400">@Model.Intro</textarea>
                    <span id="charCount" class="char-counter">@($"{Model.Intro?.Length ?? 0}/400")</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label class="label-title">Cor do conteúdo</label>
                <div class="color-options">
                    @foreach (var cor in new[] { "#8B3E08", "#D96B05", "#E2A168", "#1E2923", "#3C5245", "#AAB098", "#4E3B63", "#7A6196", "#B6A4C9", "#FFFFFF" })
                    {
                        <label class="color-option" style="background-color:@cor; @(cor=="#FFFFFF" ? "border:2px solid #ccc;" : "")">
                            <input type="checkbox" name="Color" value="@cor" @(Model.Color == cor ? "checked" : "") />
                            <span class="inner-box @(cor=="#FFFFFF" ? "dark" : "")"></span>
                        </label>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Text">Texto Principal</label>
                <div class="input-wrapper textarea-wrapper">
                    <textarea id="Text" name="Text" class="search-input textarea-introducao"
                              placeholder="insira o texto do conteúdo" style="height:300px">@Model.Text</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-container">
        <button type="button" class="btn-cancelar">CANCELAR</button>
        <button type="submit" class="btn-rascunho">SALVAR COMO RASCUNHO</button>
        <button type="submit" class="btn-save">CRIAR PUBLICAÇÃO</button>
    </div>
</form>


<script>
    const textarea = document.getElementById('Introducao');
    const charCount = document.getElementById('charCount');

    textarea.addEventListener('input', function () {
        charCount.textContent = `${this.value.length}/400`;
    });
</script>



