@using X.PagedList
@using X.PagedList.Mvc.Core
@using static RaquelMenopausa.Cms.Helpers.CmsGeneralHelper
@model IPagedList<RaquelMenopausa.Cms.Models.Dto.ConteudoDto>

@{
    ViewBag.Title = "Conteúdos | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var search = Context.Request.Query["search"].ToString();
    var status = Context.Request.Query["status"].ToString();
    var tag = Context.Request.Query["tag"].ToString();

    var downloadUrl = Url.Action("DownloadCsv", "Conteudo", new { search, status, tag });

}


@functions {
    string TruncateText(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
            return text;

        var truncated = text.Substring(0, maxLength);

        var lastSpace = truncated.LastIndexOf(' ');
        if (lastSpace > 0)
            truncated = truncated.Substring(0, lastSpace);

        return truncated + "...";
    }
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-bottom:40px">
                    <img src="~/img/imgsite/paper.png" style="width:28px !important; width: 30px !important;height: 28px;" class="icon-nav" />
                    <b>Gerenciador Conteúdos</b>
                </h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center box-container">
                <a href="@downloadUrl" class="box-filter" style="margin-bottom:10px">
                    <img src="~/img/imgsite/download.png" class="icon-download" />
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Total de Conteúdos</p>
                        <h2><b>@ViewBag.Indicators.ArticlesCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Conteúdos Publicados</p>
                        <h2><b>@ViewBag.Indicators.PublishedArticlesCount</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Conteúdos em Rascunhos</p>
                        <h2><b>@ViewBag.Indicators.DraftArticlesCount</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-search">
        <div class="row">
            <div class="col-md-12">
                <div class="box-search">
                    <h1>Filtro e Pesquisa</h1>


                    <div class="filter-group">
                        <div class="col-md-6">
                            <div class="box-pesquisa">
                                <p><b>Pesquisar</b></p>
                                <input type="text" style="background:#FBFBFB" placeholder="Títulos ou assunto" class="search-input" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box-todo">
                                <p><b>Status</b></p>
                                <select name="status">
                                    @foreach (var option in (List<RaquelMenopausa.Cms.Models.Dto.ArticleStatusOptionDto>)ViewBag.StatusOptions)
                                    {
                                        <option value="@option.Value">@option.Label</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="box-todo">
                                <p><b>Tag</b></p>
                                <select name="tag" class="tag-select">
                                    @foreach (var option in (IEnumerable<dynamic>)ViewBag.Tags)
                                    {
                                        <option value="@option.Value">@option.Label</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="col-md-1">
                            <button type="button" id="btnSearch" class="btn-search" style="margin-left:50px;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-md-12 d-flex justify-content-end align-items-center box-button">
        <a id="btnNovoConteudo" class="btn-newuser">
            + Novo Conteúdo
        </a>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-number">
                    <h1>Lista de Conteúdos</h1>
                    <div class="box-body">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table custom-table modulo-conteudo-listar">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Assunto</th>
                                            <th>Data de Publicação</th>
                                            <th>Status</th>
                                            <th>Engajamento</th>
                                            <th>Tags</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@TruncateText(item.Title, 50)</td>

                                                <td>@TruncateText(item.Intro, 60)</td>
                                                <td>@item.DateCreated?.ToShortDateString()</td>
                                                <td>
                                                    @if (item.Status == "PUBLISHED")
                                                    {
                                                        <span class="status-publish">Publicada</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="status-rasc">Rascunho</span>
                                                    }
                                                </td>
                                                <td>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/like.png" class="icon-engaj" alt="Curtidas" title="Curtidas" />
                                                        @item.LikesCount
                                                    </span>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/message.png" class="icon-engaj" alt="Mensagens" title="Mensagens" />
                                                        @item.CommentsCount
                                                    </span>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/hugeicons_view.png" class="icon-engaj" alt="Visualizações" title="Visualizações" />
                                                        @item.SharesCount
                                                    </span>
                                                </td>
                                                <td>
                                                    <a>
                                                        <p class="btn-viewtag" alt="Ver Tags" data-toggle="modal" data-target="#VerResposta_@item.ArticleId">Ver</p>
                                                    </a>
                                                    <div class="modal fade" id="VerResposta_@item.ArticleId" tabindex="-1" role="dialog" aria-labelledby="VerResposta" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2 class="modal-title" style="color:#000">Tags</h2>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>

                                                                @{
                                                                    var articleCategories = item.ArticleArticleCategories?
                                                                    .Where(c => c.ArticleCategory != null)
                                                                    .Select(c => c.ArticleCategory.Name)
                                                                    .Distinct()
                                                                    .ToList() ?? new List<string>();

                                                                    var symptomCategories = item.ArticleSymptomCategories?
                                                                    .Where(c => c.SymptomCategory != null)
                                                                    .Select(c => c.SymptomCategory.Description)
                                                                    .Distinct()
                                                                    .ToList() ?? new List<string>();

                                                                    var solutions = item.ArticleSolutions?
                                                                    .Where(c => c.Solution != null)
                                                                    .Select(c => c.Solution.Name)
                                                                    .Distinct()
                                                                    .ToList() ?? new List<string>();
                                                                }

                                                                <div class="modal-body">
                                                                    <div class="row">

                                                                        @if (articleCategories.Any())
                                                                        {
                                                                            <div class="col-md-12 mb-3">
                                                                                <h5 class="categoria-titulo">Categorias</h5>
                                                                                <div class="tag-list">
                                                                                    @foreach (var tg in articleCategories)
                                                                                    {
                                                                                        <span class="permissao"><b>@TagTranslator.Translate(tg)</b></span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                        @if (symptomCategories.Any())
                                                                        {
                                                                            <div class="col-md-12 mb-3">
                                                                                <h5 class="categoria-titulo">Sintomas</h5>
                                                                                <div class="tag-list">
                                                                                    @foreach (var tg in symptomCategories)
                                                                                    {
                                                                                        <span class="permissao"><b>@TagTranslator.Translate(tg)</b></span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                        @if (solutions.Any())
                                                                        {
                                                                            <div class="col-md-12 mb-3">
                                                                                <h5 class="categoria-titulo">Soluções</h5>
                                                                                <div class="tag-list">
                                                                                    @foreach (var tg in solutions)
                                                                                    {
                                                                                        <span class="permissao"><b>@TagTranslator.Translate(tg)</b></span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                        @if (!articleCategories.Any() && !symptomCategories.Any() && !solutions.Any())
                                                                        {
                                                                            <div class="col-md-12">
                                                                                <p>Nenhuma tag encontrada.</p>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </td>

                                                <td class="acoes">
                                                    <a href="@Href("~/conteudo/publish/" + item.ArticleId)" class="btn-icon hidden modulo-conteudo-publicar">
                                                        @if (item.Status == "PUBLISHED")
                                                        {
                                                            <img src="~/img/imgsite/gridicons_play.png" class="icon-nav" alt="Publicar" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/img/imgsite/gridicons_play-1.png" class="icon-nav" alt="Não Publicar" />
                                                        }
                                                    </a>
                                                    <a class="btnEditConteudo" href="@Href("~/conteudo/edit/" + item.ArticleId)">
                                                        <img src="~/img/imgsite/tabler_edit.png" class="icon-nav" alt="Editar" />
                                                    </a>

                                                    <a href="@Href("~/conteudo/delete/" + item.ArticleId)" onclick="return confirm('Deseja realmente excluir?');" class="btn-icon hidden modulo-perfis-deletar">
                                                        <img src="~/img/imgsite/tabler_trash.png" class="icon-nav" alt="Deletar" />
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span>Nenhum conteúdo cadastrado.</span>
                        }

                        @if (ViewBag.PageCount > 1)
                        {
                            <div class="col-md-12 text-center">
                                <div id="Paging">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Conteudo", new { page }))
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="conteudoModal" tabindex="-1" role="dialog" aria-labelledby="conteudoModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 id="conteudoModalLabel"><b>Criar Conteúdo</b></h2>
            </div>

            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="conteudoEditModal" tabindex="-1" role="dialog" aria-labelledby="conteudoModalEditLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 id="conteudoModalEditLabel"><b>Editar Conteúdo</b></h2>
            </div>

            <div class="modal-body" id="modalBodyEdit">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        if ('@ViewData["Mensagem"]' == "true") {
            $.growl.notice({ title: "Sucesso!", message: "Alterações Salvas!" });
        }
        if ('@ViewData["Mensagem"]' == "false") {
            $.growl.error({ title: "Erro!", message: "Algo deu errado!" });
        }

        $('.dropdown').on('show.bs.dropdown', function () {
            var $dropdown = $(this);
            var $menu = $dropdown.find('.dropdown-menu');
            var $toggle = $dropdown.find('.dropdown-toggle');

            var windowHeight = $(window).height();
            var buttonOffset = $toggle.offset().top - $(window).scrollTop();
            var spaceBelow = windowHeight - (buttonOffset + $toggle.outerHeight());
            var menuHeight = $menu.outerHeight();

            if (spaceBelow < menuHeight) {
                $dropdown.addClass('dropup');
            } else {
                $dropdown.removeClass('dropup');
            }
        });

        $("#btnNovoConteudo").click(function () {
            $.get("/Conteudo/Create", function (data) {
                $("#modalBody").html(data);
                $("#conteudoModal").modal('show');
            });
        });

            $(document).on("click", ".btnEditConteudo", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var id = href.split("/").pop();
            console.log("Edit clicked, ID:", id);

            $.get(href, function (data) {
                $("#modalBodyEdit").html(data);
                $("#conteudoEditModal").modal('show');
            });
         });


        $(document).on("submit", "#formCreateConteudo", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Conteudo/Create",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        $("#conteudoModal").modal('hide');
                    } else {
                        $("#modalBody").html(response);
                    }
                }
            });
        });
    });

    document.getElementById("btnSearch").addEventListener("click", function () {
        const search = document.querySelector(".search-input").value;
        const status = document.querySelector("select[name='status']").value;
        const tag = document.querySelector("select[name='tag']").value;

        const params = new URLSearchParams();
        if (search) params.append("search", search);
        if (status) params.append("status", status);
        if (tag) params.append("tag", tag);

        window.location.href = `/Conteudo/Index?${params.toString()}`;
    });

    document.getElementById("btnDownloadCsv").addEventListener("click", function () {
        const search = document.getElementById("txtSearch").value;
        const status = document.getElementById("selectStatus").value;
        const tag = document.getElementById("selectTag").value;

        const url = `/Conteudo/DownloadCsv?search=${encodeURIComponent(search)}&status=${encodeURIComponent(status)}&tag=${encodeURIComponent(tag)}`;

        window.location.href = url;
    });
</script>



