@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Usuario>

@{
    ViewBag.Title = "Conteúdos | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-bottom:40px">
                    <img src="~/img/imgsite/paper.png" style="width:28px !important; width: 30px !important;height: 28px;" class="icon-nav" />
                    <b>Gerenciador Conteúdos</b>
                </h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center box-container">
                <div class="box-filter">
                    <img src="~/img/imgsite/download.png" class="icon-download" />
                </div>
            </div>
        </div>


    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Total de Conteúdos</p>
                        <h2><b>520</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Conteúdos Publicados</p>
                        <h2><b>490</b></h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Conteúdos em Rascunhos</p>
                        <h2><b>10</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-search">
        <div class="row">
            <div class="col-md-12">
                <div class="box-search">
                    <h1>Filtro e Pesquisa</h1>
                    <p><b>Pesquisar</b></p>

                    <div class="filter-group">
                        <input type="text" style="background:#FBFBFB" placeholder="Títulos ou assunto" class="search-input" />
                        <div class="box-todo">
                            @* <label for="status" class="select-label">Status</label> *@
                            <select>
                                <option value="Todos">Todos</option>
                                <option value="Ativos">Ativos</option>
                                <option value="Inativos">Inativos</option>
                            </select>
                        </div>
                        <div class="box-todo">
                            @* <label for="status" class="select-label">Status</label> *@
                            <select>
                                <option value="Todos">Todos</option>
                                <option value="Ativos">Ativos</option>
                                <option value="Inativos">Inativos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-md-12 d-flex justify-content-end align-items-center box-button">
        <a id="btnNovoConteudo" class="btn-newuser">
            + Novo Conteúdo
        </a>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-number">
                    <h1>Lista de Conteúdos</h1>
                    <div class="box-body">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table custom-table modulo-usuario-listar">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Assunto</th>
                                            <th>Data de Publicação</th>
                                            <th>Status</th>
                                            <th>Engajamento</th>
                                            <th>Tags</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Nome</td>
                                                <td>@item.Cargo</td>
                                                <td>@item.DataInc.ToShortDateString()</td>
                                                <td>
                                                    @if (item.Ativo == true)
                                                    {
                                                        <span class="status-publish">Publicada</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="status-rasc">Rascunho</span>
                                                    }
                                                </td>
                                                <td>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/like.png" class="icon-engaj" alt="Curtidas" title="Curtidas" />
                                                        204
                                                    </span>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/message.png" class="icon-engaj" alt="Mensagens" title="Mensagens" />
                                                        32
                                                    </span>
                                                    <span class="engaj">
                                                        <img src="~/img/imgsite/hugeicons_view.png" class="icon-engaj" alt="Visualizações" title="Visualizações" />
                                                        300
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="permissao"><b>Ondas de calor</b></span>
                                                    <span class="permissao"><b>Sono</b></span>
                                                </td>
                                                <td class="acoes">
                                                    <a id="btnNovoUsuario" class="btn-icon">
                                                        <img src="~/img/imgsite/gridicons_play.png" class="icon-nav" alt="" />
                                                    </a>
                                                    <a id="btnNovoUsuario" class="btn-icon">
                                                        <img src="~/img/imgsite/tabler_edit.png" class="icon-nav" alt="Editar" />
                                                    </a>
                                                    <a href="@Href("~/perfis/delete/" + item.Id)" onclick="return confirm('Deseja realmente excluir?');" class="btn-icon hidden modulo-perfis-deletar">
                                                        <img src="~/img/imgsite/tabler_trash.png" class="icon-nav" alt="Deletar" />
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span>Nenhum conteúdo cadastrado.</span>
                        }

                        @if (ViewBag.PageCount > 1)
                        {
                            <div class="col-md-12 text-center">
                                <div id="Paging">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Conteudo", new { page }))
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="conteudoModal" tabindex="-1" role="dialog" aria-labelledby="conteudoModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 id="conteudoModalLabel"><b>Criar Conteúdo</b></h2>
            </div>

            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ('@ViewData["Mensagem"]' == "true") {
            $.growl.notice({ title: "Sucesso!", message: "Alterações Salvas!" });
        }
        if ('@ViewData["Mensagem"]' == "false") {
            $.growl.error({ title: "Erro!", message: "Algo deu errado!" });
        }
    });

        $('.dropdown').on('show.bs.dropdown', function () {
        var $dropdown = $(this);
        var $menu = $dropdown.find('.dropdown-menu');
        var $toggle = $dropdown.find('.dropdown-toggle');

        var windowHeight = $(window).height();
        var buttonOffset = $toggle.offset().top - $(window).scrollTop();
        var spaceBelow = windowHeight - (buttonOffset + $toggle.outerHeight());
        var menuHeight = $menu.outerHeight();

        if (spaceBelow < menuHeight) {
            $dropdown.addClass('dropup');
        } else {
            $dropdown.removeClass('dropup');
        }
    });

    $(document).ready(function () {

        $("#btnNovoConteudo").click(function () {
            $.get("/Conteudo/Create", function (data) {
                $("#modalBody").html(data);

                $("#conteudoModal").modal('show');
            });
        });

        $(document).on("submit", "#formCreateConteudo", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Conteudo/Create",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert(response.message);

                        $("#conteudoModal").modal('hide');
                    } else {
                        $("#modalBody").html(response);
                    }
                }
            });
        });
    });

</script>
