@{
    ViewBag.Title = "Cadastrar Perfil de Acesso | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Href("~/Content/admin/css/select2.min.css")" rel="stylesheet" />

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Perfil de Acesso
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    @using (Html.BeginForm("Create", "Perfis", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label>Nome <span style="color: #ff0000;"><b>*</b></span></label>
                                    <input type="text" name="txtNome" class="form-control" required>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Modulos que terá Acesso</label>
                                    @if (ViewData["listaModulo"] != null && ((List<RaquelMenopausa.Cms.Models.Modulo>)ViewData["listaModulo"]).Count > 0)
                                    {
                                        <ul class="products-list product-list-in-box">
                                            @foreach (var item in (List<RaquelMenopausa.Cms.Models.Modulo>)ViewData["listaModulo"])
                                            {
                                                <li class="item" style="padding: 1px;">
                                                    <input type="checkbox" name="txtModulo" value="@item.Id" id="modulo_@item.Id">
                                                    <label for="modulo_@item.Id">@item.Nome</label>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-flat btn-default" onclick="history.go(-1)">Cancelar</button>
                            <button type="submit" id="btnCadastrar" class="btn btn-flat btn-primary">Cadastrar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

<script src="@Href("~/Content/admin/js/select2.full.min.js")"></script>
<script src="@Href("~/Content/admin/js/jquery.inputmask.js")"></script>
<script src="@Href("~/Content/admin/js/jquery.inputmask.date.extensions.js")"></script>
<script src="@Href("~/Content/admin/js/jquery.inputmask.extensions.js")"></script>
<script src="@Href("~/Content/admin/js/bootstrap-timepicker.min.js")"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/aaaa
        $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/aaaa" });
        //Money Euro
        $("[data-mask]").inputmask();
    });
</script>