@model RaquelMenopausa.Cms.Models.Usuario

<style>
    .row .col-md-6 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

</style>

<div class="modal-body">
@using (Html.BeginForm("Edit", "Perfis", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", id = "formEditUsuario" }))
{
        @Html.HiddenFor(m => m.Id)

    <div class="row g-3">
        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="txtNome">Nome Completo</label>
                <div class="input-wrapper">
                    <input type="text" id="txtNome" name="txtNome" class="search-input" placeholder="Digite o seu nome" value="@ViewData["txtNome"]" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="txtEmail">E-mail</label>
                <div class="input-wrapper">
                    <input type="email" id="txtEmail" name="txtEmail" class="search-input" placeholder="Digite o seu e-mail" value="@ViewData["txtEmail"]" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="txtCargo">Cargo</label>
                <div class="input-wrapper">
                    <input type="text" id="txtCargo" name="txtCargo" class="search-input" placeholder="Digite o seu cargo" value="@ViewData["txtCargo"]" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="txtSenha">Senha</label>
                <div class="input-wrapper">
                    <input type="password" id="txtSenha" name="txtSenha" class="search-input" placeholder="Digite a sua senha" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="form-group custom-input">
                <label for="permissao">Configurar Permissões</label>

                <div class="permissions-box">
                    <table class="permissions-table">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Permissão</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["listaModulo"] != null && ((List<SelectListItem>)ViewData["listaModulo"]).Count > 0)
                            {
                                foreach (var item in (List<SelectListItem>)ViewData["listaModulo"])
                                {
                                    <tr>
                                        <td>@item.Text</td>
                                        <td>
                                            <input type="checkbox"
                                                   name="modulosSelecionados"
                                                   value="@item.Value"
                                                   id="modulo_@item.Value"
                                                   @(item.Selected ? "checked" : "") />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" class="text-center">Nenhum módulo encontrado</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-container">
        <button type="button" class="btn-cancelar" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn-save">SALVAR</button>
    </div>
}
</div>

