@using Org.BouncyCastle.Asn1.Ocsp
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Usuario>

@{
    ViewBag.Title = "Permissões | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <section class="content-header" style="margin-bottom:20px">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <img src="~/img/imgsite/paper.png" style="width:28px !important; width: 30px !important;height: 28px;" class="icon-nav" />
                    <b>Permissões</b>
                </h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center box-container">
                <a id="btnNovoUsuario" class="btn-newuser">
                    + Novo Usuário
                </a>
                <div class="box-filter">
                    <img src="~/img/imgsite/download.png" class="icon-download" id="btnExportar" style="cursor:pointer;" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box-number">
                        <p>Total de Usuários</p>
                        <h2><b>@ViewBag.TotalUsuarios</b></h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box-search" style="padding:22px; width:100%">
                        <p><b>Pesquisar</b></p>
                        <div class="filter-group">
                            <input type="text"
                                   placeholder="Nome, e-mail ou cargo"
                                   class="campo-input"
                                   id="campoPesquisa"
                                   value="@ViewBag.Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-number">
                    <h1>Lista de Usuários</h1>
                    <div class="box-body">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table custom-table modulo-perfis-listar">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Cargo</th>
                                            <th>Data de Cadastro</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Nome</td>
                                                <td>@item.Email</td>
                                                <td>@item.Cargo</td>
                                                <td>@item.DataInc.ToShortDateString()</td>

                                                <td class="acoes">
                                                    <a class="btn-icon btnEdit" data-id="@item.Id">
                                                        <img src="~/img/imgsite/tabler_edit.png" class="icon-nav" alt="Editar" />
                                                    </a>
                                                    <a class="btn-icon">
                                                        <img src="~/img/imgsite/shield.png" class="icon-nav" alt="Segurança" data-toggle="modal" data-target="#VerResposta_@item.Id" />
                                                    </a>
                                                    <div class="modal fade" id="VerResposta_@item.Id" tabindex="-1" role="dialog" aria-labelledby="VerResposta" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2 class="modal-title" style="color:#000">Permissões do Usuário</h2>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        @if (item.UsuarioModuloPermissoes != null && item.UsuarioModuloPermissoes.Any())
                                                                        {
                                                                            foreach (var permissao in item.UsuarioModuloPermissoes)
                                                                            {
                                                                                <div class="col-md-4">
                                                                                    <span class="permissao">
                                                                                        <b>@permissao.Modulo.Nome</b>

                                                                                        @if (permissao.Modulo.Nome.Contains("Listar"))
                                                                                        {
                                                                                            <img src="~/img/imgsite/mdi_eye-outline.png" class="icon-nav" alt="Visualizar" title="Visualizar" />
                                                                                        }

                                                                                        @if (permissao.Modulo.Nome.Contains("Editar"))
                                                                                        {
                                                                                            <img src="~/img/imgsite/edit_permission.png" class="icon-nav" alt="Editar" title="Editar" />
                                                                                        }

                                                                                        @if (permissao.Modulo.Nome.Contains("Criar"))
                                                                                        {
                                                                                            <img src="~/img/imgsite/add.png" class="icon-nav" alt="Adicionar" title="Adicionar" />
                                                                                        }

                                                                                        @if (permissao.Modulo.Nome.Contains("Deletar"))
                                                                                        {
                                                                                            <img src="~/img/imgsite/trash.png" class="icon-nav" alt="Deletar" title="Deletar" />
                                                                                        }
                                                                                    </span>
                                                                                    <br />
                                                                                </div>

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-md-12 text-center">
                                                                                <span>Este usuário não possui permissões cadastradas.</span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="@Href("~/perfis/delete/" + item.Id)" onclick="return confirm('Deseja realmente excluir?');" class="btn-icon hidden modulo-perfis-deletar">
                                                        <img src="~/img/imgsite/tabler_trash.png" class="icon-nav" alt="Deletar" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span>Nenhum usuário cadastrado.</span>
                        }

                        @if (ViewBag.PageCount > 1)
                        {
                            <div class="col-md-12 text-center">
                                <div id="Paging">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Perfis", new { page }))
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="usuarioModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 id="usuarioModalLabel"><b>Adicionar Novo Usuário</b></h2>
            </div>

            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="usuarioeditModal" tabindex="-1" role="dialog" aria-labelledby="usuarioEditModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 id="usuarioEditModalLabel"><b>Editar Usuário</b></h2>
            </div>

            <div class="modal-body" id="modalBodyEdit">
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $("#btnNovoUsuario").click(function () {
            $.get("/Perfis/Create", function (data) {
                $("#modalBody").html(data);

                $("#usuarioModal").modal('show');
            });
        });

    $(document).on("click", ".btnEdit", function () {
        let usuarioId = $(this).data("id");

        $.get("/Perfis/Edit", { id: usuarioId }, function (data) {
            $("#modalBodyEdit").html(data);
            $("#usuarioeditModal").modal('show');
        });
    });



        $(document).on("submit", "#formCreateUsuario", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Perfis/Create",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert(response.message);

                        $("#usuarioModal").modal('hide');
                    } else {
                        $("#modalBody").html(response);
                    }
                }
            });
        });

            $(document).on("submit", "#formEditUsuario", function (e) {
        e.preventDefault();

        var form = $(this)[0];
        var formData = new FormData(form);

        $.ajax({
            type: "POST",
            url: "/Perfis/Edit",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
            // Fecha modal
            $("#usuarioeditModal").modal('hide');
            location.reload();
            alert("Alterações salvas com sucesso!");
        },
        error: function (xhr) {
            console.error("Erro ao editar:", xhr);
            alert("Erro ao atualizar o usuário.");
        }
        });
    });

    });

        document.getElementById('campoPesquisa').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            var search = this.value.trim();
            var url = '@Url.Action("Index", "Perfis")';
            if (search) {
                window.location.href = url + '?search=' + encodeURIComponent(search);
            } else {
                window.location.href = url;
            }
        }
    });

    document.getElementById("btnExportar").addEventListener("click", function () {
        window.location.href = '@Url.Action("ExportarUsuarios", "Perfis")';
    });
</script>