@{
    ViewBag.Title = "Permissão | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Permissão
            <small>Cadastrar Permissão</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    @using (Html.BeginForm("Permissao", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <label>Nome </label>
                                    <input type="text" id="txtNome" name="txtNome" class="form-control" value="@ViewData["Nome"]" disabled>
                                </div>
                                <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
                                    @if (ViewData["ListaModulos"] != null)
                                    {
                                        <label for="typeahead">Módulos </label>

                                        foreach (var item in (List<SelectListItem>)ViewData["ListaModulos"])
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input name="modulos" type="checkbox" class="minimal" value="@item.Value" checked="@item.Selected"> @item.Text
                                                </label>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <label class="col-md-2 control-label" for="typeahead"></label>
                                        <div class="col-md-4">
                                            Nenhum módulo encontrado!
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-flat btn-default" onclick="history.go(-1)">Cancelar</button>
                            <button type="submit" id="btnCadastrar" class="btn btn-flat btn-primary">Salvar</button>
                            <input type="hidden" name="txtId" value="@ViewData["Id"]" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>