@using System.Security.Claims

@{
    var modulos = ViewBag.ModulosPermitidos as List<RaquelMenopausa.Cms.Models.Dto.PermissaoModuloDto> ?? new List<RaquelMenopausa.Cms.Models.Dto.PermissaoModuloDto>();
}

<script>
    var modulosLiberados = [];

    @foreach (var item in modulos)
    {
            if (item.Liberado)
            {
                    <text>modulosLiberados.push("@item.ModuloId"); </text>
            }
    }

    $(document).ready(function () {
        modulosLiberados.forEach(function (modulo) {
            $("." + modulo).removeClass("hidden");
        });
    });
</script>

<aside class="main-sidebar">

    <section class="sidebar">
        <img src="~/img/imgsite/logo.png" class="img-logo" />
        <img src="~/img/avatar5.png" class="img-navbar" />

        <p class="title-name">Teste</p>
        <p class="title-cargo">Cargo Teste</p>
        </section>

        <div class="sidebar-menu-wrapper">
        <ul class="sidebar-menu" id="menu">
            <li class="header text-center">Painéis</li>

            <li class="treeview hidden modulo-usuario">
                <a href="@Href("~/usuaria")">
                    <img src="~/img/imgsite/tabler_users.png" class="icon-nav" />
                    <span>Gerenciador de Usuárias</span>
                </a>
            </li>

            <li class="line-navbar hidden modulo-conteudo"></li>

            <li class="treeview hidden modulo-conteudo">
                <a href="@Href("~/conteudo")">
                    <img src="~/img/imgsite/quill_paper.png" class="icon-nav" />
                    <span>Conteúdos</span>
                </a>
            </li>

            <li class="line-navbar hidden modulo-perfis"></li>

            <li class="treeview hidden modulo-perfis">
                <a href="@Href("~/perfis")">
                    <img src="~/img/imgsite/solar_settings-outline.png" class="icon-nav" />
                    <span>Permissões</span>
                </a>
            </li>

            <li class="line-navbar hidden modulo-perfis"></li>
            
        </ul>
        </div>

        <div class="logout-fixed">
            <a href="@Href("~/home/logout")">
                <img src="~/img/imgsite/logout.png" class="icon-nav" />
                <span>Sair</span>
            </a>
        </div>
    
</aside>

